.legacy-button, .legacy-button-disabled {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 320px;
    background-color: #323232;
    padding: 10px 0;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.legacy-button-disabled {
    background-color: #6f6f6f;
}

@media screen and (max-width: 375px) {
    .legacy-button, .legacy-button-disabled {
        width: 220px;
    }
}