.balance-wheel-div {
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 20px;
}

.balance-wheel-view-div p {
    margin-right: 10px;
    margin-left: 10px;
}

.reevaluate-balance-wheel {
    margin-top: 10px;
}

.reevaluate-balance-wheel label{
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.reevaluate-balance-wheel label:hover {
    color: #004b82
}