@font-face {
  font-family: 'Overpass';
  src: url('./fonts/Overpass.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Overpass-Black';
  src: url('./fonts/Overpass-Black.woff2') format('woff2');
  font-weight: 900; /* Black weight is typically 900 */
  font-style: normal;
}

@font-face {
  font-family: 'Overpass-Light';
  src: url('./fonts/Overpass-Light.woff2') format('woff2');
  font-weight: 900; /* Black weight is typically 900 */
  font-style: normal;
}

@font-face {
  font-family: 'Overpass-Regular';
  src: url('./fonts/Overpass-Regular.woff2') format('woff2');
  font-weight: 900; /* Black weight is typically 900 */
  font-style: normal;
}

@font-face {
  font-family: 'Overpass-Bold';
  src: url('./fonts/Overpass-Bold.woff2') format('woff2');
  font-weight: 900; /* Black weight is typically 900 */
  font-style: normal;
}

@font-face {
  font-family: 'EurostileLTStd-Ex2';
  src: url('./fonts/EurostileLTStd-Ex2.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EurostileLTStd-BoldEx2';
  src: url('./fonts/EurostileLTStd-BoldEx2.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EurostileLTStd';
  src: url('./fonts/EurostileLTStd.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Overpass', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}