.answer-div {
    margin-bottom: 10px;
}

.answer-div span{
    margin-right: 10px;
}

.answer-div input {
    width: 290px;
    height: 35px;
}

h1 span {
    margin-left: 10px;
}

.dot {
    height: 6px;
    width: 6px;
    background-color: #323232;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.dot-selected {
    height: 10px;
    width: 10px;
    background-color: #323232;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.dot-empty {
    height: 6px;
    width: 6px;
    background-color: rgba(50, 50, 50, 0.53);
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.dots-div {
    margin-top: 15px;
}

.dot-div {
    display: inline-flex;
}

.left-div {
    display: inline-flex;
}

.right-div {
    display: inline-flex;
}

.left-div img{
    width: 25px;
    margin-right: 5px;
}

.right-div img{
    width: 25px;
    margin-left: 5px;
}

.left-disabled {
    opacity: 0.5;
}

.right-disabled {
    opacity: 0.5;
}

.save-for-now-p{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
color: black;
text-decoration: underline;
}

.reflection-progress-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
}

.reflection-progress-icon {
    width:60%;
}

.reflection-progress-icon-div {
    width: 25%;
}

.reflection-progress-icon-div a{
    text-decoration: unset;
    color: black;
}

.reflection-progress-icon-div p {
    margin-bottom: 3px;
    margin-top: 3px;
}

.reflection-progress-icon-w {
    cursor:pointer;
}

.answer-div input {
    font-size: 20px;
}

.save-for-now-p a:hover {
    color: #004b82
}

.img-container {
    position: relative;
    text-align: center;
    width: 60%;
    left: 20%;
}

.img-container-selected {
    position: relative;
    text-align: center;
    width: 60%;
    left: 20%;
    border: 3px solid black;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container-selected img {
    scale: 0.9;
}